.tanzir{
text-align: center;
color: rgb(255, 22, 53);
}
.tanzir1{
text-align:center ;
color: rgb(72, 6, 255);
}
.tanzir2{
text-align: center;
color: rgb(71, 4, 255);
}
.tanzir3{
    color: lawngreen;
    color: ;
}
.tanzir4{
text-align: 100px;   
}
.tanzir5{
text-align: center;
color: indigo;

}
.tanzir6{
    background-color :yellow;

}